.genrepage{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
    text-align: center;
     
}
.genrepage_cover_box{
    width: 200px;
    height: 300px;
    margin-top: 20px;
    text-decoration: none !important;
}
.genrepagebg{
    background-color: #4d4d4d70;
    border: solid #4d4d4dc7 2px;
    max-width: 1200px;
    margin-top: 20px;
    margin: 0 auto;
    height:100%;
}
.genrepageh1{
    text-align: center;
    margin: 5px auto;
    color: #55afb3;
    max-width: 1200px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.videoplayer{
    position: relative;
    left: 8%;
}