#NPM Stuff
node_modules
.npm
package-lock.json
package.json
#---------------
.node_repl_history

#logs
npm-debug.log
logs
*.log
error_log

#remove npm output pack
*.tgz

#visual studio
obj
bin
#I use multiple code editors like a cuck
.vscode

#website files
css/start
php
extra
photoshop
.htaccess
ignore
nodejs
nolewds
assets
login.php
register.php
*.txt
profile.php
registeredit.php
api.nymh.moe
edits.nymh.moe
howtotoken.php
registerdisable.php
forgot.php
forgotset.php
weebhub
cancer
php1
anime